table {
	border-collapse: collapse;
}

td, th {
	padding: 2px 4px;
	border: solid 1px gray;
}
td {
	font-family: monospace;
}
thead th {
	background-color: #eee;
}
td input {
	width: 80px;
	text-align: center;
	border: none;
}
button {
	margin: 1em 0;
	padding: 0 1em;
	font-size: 2em;
}
