# /etc/cron.d/ardj: crontab entries for the $ARDJ package
ARDJ=/usr/local/bin/ardj

@hourly			radio	$ARDJ track update-weights -q

1 0         * * *   radio   $ARDJ listeners dump >/dev/null
0 11		* * *	radio	$ARDJ shitlist queue
0 18		* * *	radio	$ARDJ db mark-hitlist
0 3		* * *	radio	$ARDJ podcaster

# Загрузка новостей в дневное время.  При успешной загрузке они ставятся в очередь.
15,45 7-23 	* * *	radio	$ARDJ news

# Обработка голосовой почты (включается в /etc/ardj.yaml).
*/5 *		* * *	radio	$ARDJ hotline -q process

# Обновление афиши по утрам (в 6:00).
0 6		* * *	radio	$ARDJ events announce update-website

# Обновление всякой фигни в базе данных.
0 6		* * *	radio	$ARDJ db mark-recent mark-orphans mark-long purge

# Обновление карты слушателей.
0 6		* * *	radio	$ARDJ map-listeners

# Обновление @preshow-music перед началом ТСН (18:50 по четвергам).
50 18		* * *	radio	$ARDJ db mark-preshow

# Так себе новости.
0 21		* * 4	radio	$ARDJ tsn prepare
0 3		* * 5	radio	$ARDJ tsn email
