body {
	background-color: white;
	font: 10pt normal Verdana, Ubuntu, sans-serif;
}

/**
 * Reset.
 */
body, ul, li, p, form, input, button {
	margin: 0;
	padding: 0;
}

a {
	color: #008;
}

h1 {
	margin: 5px 0;
	font-size: 20pt;
	font-weight: normal;
}

div.part {
	margin: 0 20px;
}

#loginform {
	padding: 10px 0;
}

.login {
	display: none;
}
.anonymous .login {
	display: inline;
}

#searchform {
	background-color: #f3f3f3;
	border-top: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
	margin: 10px 0;
	padding: 4px 122px 4px 20px;
	position: relative;
}
#searchform input {
	font-size: 12pt;
	height: 22px;
	width: 100%;

	background: white url(data:image/gif;base64,R0lGODlhAQAFAKIAAPHx8e7u7vv7+/b29v///wAAAAAAAAAAACH5BAAAAAAALAAAAAABAAUAAAMEGDBCCQA7) repeat-x scroll center top;
	border: 1px solid #BBB;
	padding: 2px 6px;
}
#searchform button {
	position: absolute;
	top: 4px;
	left: 100%;
	margin-left: -100px;

	width: 80px;
	height: 28px;
}
#searchform p {
	font-size: 10pt;
	margin: .5em 0 0;
	color: gray;
}
#searchform .eg {
	border-bottom: 1px dashed #ddd;
	cursor: pointer;
}

#searchresult {
	margin: 0 auto;
}

#searchresult h2 {
	margin: 20px 0 10px;
	font-size: 18pt;
	font-weight: normal;
}

#searchresult table {
	border-collapse: collapse;
}
#searchresult tr:hover td {
	background-color: #f3f3f3;
}
#searchresult td {
	padding: 2px 8px;
	border-bottom: solid 1px #ddd;
}
#searchresult a {
	text-decoration: none;
}
#searchresult a:hover {
	text-decoration: underline;
}
#searchresult .weight, .length {
	color: gray;
}
#searchresult td.icon {
	padding: 2px 4px;
}
#searchresult .icon span {
	display: none;
}
#searchresult .icon a {
	display: block;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	background-position: top left;
}
#searchresult .download a {
	background-image: url('download.png');
}
#searchresult .queue a {
	background-image: url('queue.png');
}
#searchresult .rocks a {
	background-image: url('rocks.png');
}
#searchresult .sucks a {
	background-image: url('sucks.png');
}


ul.tagcloud {
	list-style-type: none;
}
ul.tagcloud li {
	color: gray;
	font-size: 8pt;
	white-space: nowrap;
	margin-right: 1em;
	display: inline-block;
}
ul.tagcloud li span {
	color: black;
	font-size: 12pt;
	cursor: pointer;
}


#footer {
	margin: 50px 0 10px;
	color: gray;
}
#footer a {
	color: inherit;
}
