# /etc/cron.d/ardj: crontab entries for the ardj package

13 *	* * *	radio	/usr/lib/ardj/robots/lcounter
0 11	* * *	radio	/usr/lib/ardj/robots/shitlister
0 18	* * *	radio	/usr/lib/ardj/robots/hitlister
0 3		* * *	radio	/usr/lib/ardj/robots/podcaster

# Загрузка новостей в дневное время.  При успешной загрузке они ставятся в очередь.
15,45 7-23 * * * radio /usr/lib/ardj/robots/newsrep >/dev/null

# Загрузка сообщений из твиттера.
*/5 *   * * *   radio   /usr/lib/ardj/robots/twitter -replies >/dev/null

# Обновление афиши по утрам (в 6:00).
0 6		* * *	radio	/usr/lib/ardj/robots/tout

# Обновление @preshow-music перед началом ТСН (18:50 по четвергам).
50 18	* * *	radio	/usr/lib/ardj/robots/preshow

# TODO: изменить время в соответствии с расписанием.
0 3		* * *	radio	/usr/lib/ardj/robots/freshener
